<footer id="pages-overview-toolbar" class="collapsed">
  <div id="toolbar__container">
    <ul class="printscreens-list">
        <li>
          <div class="text-container"><p><a href="http://127.0.0.1:{{ port }}">Pages Overview</a></p></div>
          <nav id="actions">
            <ul>
              <li><button id="generatePS" class="bordered">Générer captures d'écran</button></li>
            </ul>
          </nav>
        </li>
        {{#each printscreensDatas}}
            <li class="gallery-tpl"><a href="{{ this.path }}">
                <div class="text-container"><p>{{ this.tplName }}</p></div>
                <figure><img src="{{ this.imgPath }}" alt=""></figure>
            </a></li>
        {{/each}}
    </ul>
  </div>
  <div id="toolbar__display-manager">
      <button>f</button>
  </div>
</footer>